<div class="center">
  <h1 class="title">Welcome to WeBird!</h1>
  <h2>Sign up</h2>
  <div class="signup">
    <%= react_component 'Signup' %>
  </div>
  <h4>OR</h4>
  <%= link_to "Login!", login_path, class: "btn btn-primary" %>
</div>
