// user profile styling
.profile-col {
    height: 500px;
}

.profile-pic {
    height: 40%;
    border-bottom: 1px solid red;
    background-image: url(https://avatars2.githubusercontent.com/u/19786912?v=3&s=400);
}

.user-profile {
    border: 1px solid red;
}

// user data styling
.user-data {
    border: 1px solid red;
    padding: 20px;
}

.badge {
    background-color: #777;
}

.tabs-left {
    margin-top: 3rem;
}

.nav-tabs {
    float: left;
    border-bottom: 0;
    li {
        float: none;
        margin: 0;
        a {
            color: black;
            margin-right: 0;
            background-color: #4682b4;
            &:hover {
                background-color: #444;
            }
        }
    }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 0;
}

.tab-content {
    margin-left: 45px;
    .tab-pane {
        display: none;
        background-color: #fff;
        padding: 1.6rem;
        overflow-y: auto;
    }
    .active {
        display: block;
    }
}

// text styling
h3 {
    margin-top: 0;
}